Repository dash-docs/dash-docs, pull requests merged in 2018-04, with the labels that each got.

#56 [Content] - RPC - Update Gobject message
  _includes/devdoc/dash-core/rpcs/rpcs/gobject.md
Labels: rpc

#64 [Content] - P2P - Compact block addition
  _autocrossref.yaml
  _includes/devdoc/ref_p2p_networking.md
  _includes/references.md
  img/dev/en-p2p-control-messages.dot
  img/dev/en-p2p-control-messages.png
  img/dev/en-p2p-control-messages.svg
  img/dev/en-p2p-data-messages.dot
  img/dev/en-p2p-data-messages.png
  img/dev/en-p2p-data-messages.svg
Labels: p2p

#65 make dash-specific network messages searchable
  _config.yml
Labels: enhancement
